* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #4a6dc5;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, ul, p, figure, blockquote {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.header .nav__title-link:hover, .header .nav__links .list__item-link:hover, .header .nav .covid__link:hover {
  color: #000;
}

.hero__notify-btn:hover {
  color: #FFF;
}

.header .nav .globe__link-icon:hover {
  fill: #000;
}

.testimonials .slider__left-btn, .testimonials .slider__right-btn {
  width: 66px;
  height: 66px;
  border: none;
  rotate: -45deg;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.header {
  width: 100%;
  height: 50px;
  background-color: #39559e;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}
.header .nav {
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
}
.header .nav__title {
  width: 255px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
  border-right: 1px solid #FFF;
}
.header .nav__title-link {
  font-size: 25px;
  font-weight: 500;
}
.header .nav__title-link span {
  font-weight: 700;
}
.header .nav__links {
  flex-grow: 1;
}
.header .nav__links .list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: min(95px, 5vw);
  padding: 0 0 0 min(110px, 5vw);
}
@media (max-width: 992px) {
  .header .nav__links .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: min(95px, 5vw);
    padding: 0;
  }
}
.header .nav__links .list__item-link {
  font-weight: 400;
  font-size: 22px;
}
.header .nav .covid {
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
.header .nav .covid__link {
  font-size: 16px;
  font-weight: 700;
}
.header .nav .globe {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
}
.header .nav .globe__link-icon {
  width: 27px;
  height: 28px;
  fill: #FFF;
}

.hero {
  position: relative;
  padding: 150px 0 0;
  max-width: 1340px;
  height: 870px;
  margin: 0 auto;
  background: url(../assets/webp/cloude.webp) center/contain no-repeat;
}
.hero__content {
  position: relative;
  margin: 0 auto;
  width: 930px;
}
.hero__content .hero__title {
  font-size: 120px;
  font-weight: 700;
  font-style: normal;
  color: #000;
  line-height: 1;
}
.hero__content .hero__action-btn {
  width: 380px;
  height: 80px;
  background-color: #000;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  color: #FFF;
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: 25px;
  right: 0;
}
.hero__content .hero__action-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.hero__content .hero__action-btn:focus-visible {
  outline: 2px solid #FFF;
}
@media (max-width: 992px) {
  .hero__content {
    width: 100%;
    max-width: 760px;
    height: 500px;
  }
  .hero__content .hero__title {
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: #000;
  }
  .hero__content .hero__action-btn {
    width: 300px;
    height: 70px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #FFF;
    position: absolute;
    z-index: 1;
    inset: -1;
    bottom: 0;
    left: 10px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    max-width: 560px;
    height: 350px;
  }
  .hero__content .hero__title {
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    color: #000;
  }
  .hero__content .hero__action-btn {
    width: 270px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #FFF;
  }
}
.hero__notify {
  position: relative;
  margin: 180px auto 0;
  height: 70px;
  width: 685px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 15px;
}
.hero__notify-img {
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: -55px;
  left: -20px;
}
.hero__notify-desc {
  width: 450px;
  height: 100%;
  line-height: 1;
  border-right: 1px solid #FFF;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
}
.hero__notify-btn {
  border: none;
  background: none;
  outline: none;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}
.hero__notify-btn:focus-visible {
  outline: 2px solid #FFF;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .hero__notify {
    margin: 140px auto 0;
    height: fit-content;
    width: 100%;
    max-width: 430px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
  }
  .hero__notify-img {
    position: absolute;
    z-index: 1;
    inset: -1;
    bottom: 10px;
    left: -20px;
  }
  .hero__notify-desc {
    width: 100%;
    padding: 15px 10px 15px 100px;
    border-right: none;
    border-bottom: 1px solid #FFF;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #000;
  }
  .hero__notify-btn {
    padding: 15px 0;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: #000;
  }
}
.hero__scroll {
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: 180px;
  left: 10px;
}
.hero__scroll-content {
  position: relative;
  writing-mode: vertical-rl;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #FFF;
  cursor: pointer;
}
.hero__scroll-content::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  inset: -1;
  top: 95px;
  left: 7.5px;
  height: 75px;
  width: 1px;
  background-color: #FFF;
}
@media (max-width: 992px) {
  .hero__scroll {
    position: absolute;
    z-index: 1;
    inset: -1;
    bottom: 120px;
    left: 10px;
  }
}
@media (max-width: 768px) {
  .hero__scroll {
    position: absolute;
    z-index: 1;
    inset: -1;
    bottom: 200px;
    left: 10px;
  }
}
@media (max-width: 992px) {
  .hero {
    padding: 120px 0 0;
    background: url(../assets/webp/cloude.webp) 0 30%/contain no-repeat;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 100px 0 0;
    height: 800px;
  }
}

.work-section {
  padding: 50px 0 180px;
}
.work-section .work {
  text-align: center;
  margin: 0 auto;
}
.work-section .work__title {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0 0 80px;
}
@media (max-width: 428px) {
  .work-section .work__title {
    display: none;
  }
}
.work-section .work__card-wrapper {
  margin: 0 auto;
  max-width: 930px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "analysis design development" "maintenance testing integration";
  justify-items: center;
  align-items: center;
  row-gap: 65px;
}
.work-section .work__card-wrapper .card--analysis {
  grid-area: analysis;
  justify-self: start;
}
.work-section .work__card-wrapper .card--design {
  grid-area: design;
}
.work-section .work__card-wrapper .card--development {
  grid-area: development;
  justify-self: end;
}
.work-section .work__card-wrapper .card--maintenance {
  grid-area: maintenance;
  justify-self: start;
}
.work-section .work__card-wrapper .card--testing {
  grid-area: testing;
}
.work-section .work__card-wrapper .card--integration {
  grid-area: integration;
  justify-self: end;
}
.work-section .work__card-wrapper .icon-lamp {
  width: 28px;
  height: 41px;
}
.work-section .work__card-wrapper .icon-brash {
  width: 48px;
  height: 39px;
}
.work-section .work__card-wrapper .icon-dev {
  width: 51px;
  height: 32px;
}
.work-section .work__card-wrapper .icon-wrench {
  width: 43px;
  height: 41px;
}
.work-section .work__card-wrapper .icon-test {
  width: 44px;
  height: 42px;
}
.work-section .work__card-wrapper .icon-int {
  width: 44px;
  height: 42px;
}
@media (max-width: 768px) {
  .work-section .work__card-wrapper {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "development analysis" "design maintenance" "integration testing";
  }
  .work-section .work__card-wrapper .card--analysis, .work-section .work__card-wrapper .card--design, .work-section .work__card-wrapper .card--development, .work-section .work__card-wrapper .card--maintenance,
  .work-section .work__card-wrapper .card--maintenance, .work-section .work__card-wrapper .card--testing, .work-section .work__card-wrapper .card--integration {
    justify-self: center;
  }
}

.info-card {
  width: 180px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 25px 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 15px;
  column-gap: 0;
}
.info-card__icon {
  width: 30px;
  height: 30px;
  fill: #000;
}
.info-card__title {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #000;
}
.info-card__description {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-align: center;
}
.info-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.info-card:hover .info-card__icon {
  fill: #FFF;
}
.info-card:hover .info-card__title {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #FFF;
}
.info-card:hover .info-card__description {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
}
@media (max-width: 428px) {
  .info-card {
    width: 140px;
    height: 180px;
  }
  .info-card__title {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #000;
  }
  .info-card__description {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    color: #000;
  }
}

.img-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
  width: 320px;
  height: 295px;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
.img-card__title {
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
  flex-grow: 1;
}
.img-card__preview {
  width: 100%;
}
.img-card__btn {
  width: 120px;
  height: 90px;
  background-color: #FFF;
  border-radius: 20px;
  border: none;
  rotate: 7deg;
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: -25px;
  left: -30px;
  transition: scale 0.2s;
}
.img-card__btn:hover {
  cursor: pointer;
  scale: 1.4;
}
.img-card__btn-icon {
  width: 36px;
  height: 23px;
  rotate: -7deg;
  translate: 13px -10px;
}
.img-card:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px 15px rgba(0, 0, 0, 0.212), inset 0 30px 40px 25px rgba(0, 0, 0, 0.212);
}

.wave-card {
  width: 500px;
  height: 275px;
  background: url(../assets/webp/Rectangle9.webp) center/cover no-repeat;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 25px;
  column-gap: 0;
}
.wave-card__avatar {
  margin: 20px 0 0 30px;
  border-radius: 50%;
  overflow: hidden;
}
.wave-card__desc {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  margin: 0 70px 0 55px;
  line-height: 1.4;
}
@media (max-width: 576px) {
  .wave-card {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 15px;
    column-gap: 0;
    width: 320px;
    height: 175px;
  }
  .wave-card__avatar {
    margin: 15px 0 0 20px;
  }
  .wave-card__desc {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    margin: 0 30px 0 25px;
    line-height: 1.1;
  }
}

.about-section {
  padding: 145px 0 0;
}
.about-section .about {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 90px;
  column-gap: 0;
}
.about-section .about__quality {
  width: 100%;
  max-width: 1180px;
  height: 400px;
  padding: 0 0 0 15px;
  background: url(../assets/webp/image\ 9.webp) 100% 100%/610px no-repeat;
}
.about-section .about__quality-title {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
.about-section .about__quality-description {
  margin: 50px 0 0;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
  max-width: 590px;
}
@media (max-width: 1200px) {
  .about-section .about__quality {
    background: linear-gradient(180deg, rgba(74, 109, 197, 0.9) 0%, rgba(74, 109, 197, 0) 100%), url(../assets/webp/image\ 9.webp) 100% 100%/610px no-repeat;
  }
}
@media (max-width: 992px) {
  .about-section .about__quality {
    background: url(../assets/webp/image\ 9.webp) 100% 100%/450px no-repeat;
  }
  .about-section .about__quality-description {
    margin: 25px 0 0;
    max-width: 590px;
  }
}
@media (max-width: 768px) {
  .about-section .about__quality {
    background: url(../assets/webp/image\ 9.webp) 100% 100%/350px no-repeat;
  }
  .about-section .about__quality-title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
  }
  .about-section .about__quality-description {
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #FFF;
  }
}
@media (max-width: 428px) {
  .about-section .about__quality {
    background: url(../assets/webp/image\ 9.webp) 150px 100%/350px no-repeat;
  }
}
.about-section .about__touch {
  position: relative;
  width: 100%;
  height: 720px;
  padding: 0 15px 0 0;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 0;
}
.about-section .about__touch::before {
  content: "";
  width: 740px;
  height: 560px;
  background: url(../assets/webp/image\ 6.webp) 100% 100%/contain no-repeat;
  position: absolute;
  z-index: -1;
  inset: -1;
  top: 100px;
  left: -80px;
}
.about-section .about__touch-title {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
.about-section .about__touch-description {
  text-align: right;
  margin: 50px 0 0;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
  max-width: 480px;
  padding: 0 0 120px;
}
@media (max-width: 1200px) {
  .about-section .about__touch::before {
    background: url(../assets/webp/image\ 6.webp) 100% 100%/600px no-repeat;
    position: absolute;
    z-index: -1;
    inset: -1;
    top: 100px;
    left: -190px;
  }
}
@media (max-width: 992px) {
  .about-section .about__touch {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
  }
}
@media (max-width: 768px) {
  .about-section .about__touch::before {
    position: absolute;
    z-index: -1;
    inset: -1;
    top: 100px;
    left: -220px;
    rotate: z 50deg;
  }
  .about-section .about__touch-title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
  }
  .about-section .about__touch-description {
    margin: 25px 0 0;
    max-width: 330px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #FFF;
  }
}
.about-section .about__approach {
  width: 100%;
  height: 800px;
  padding: 0 0 0 15px;
  background: url(../assets/webp/image\ 7.webp) 100% 100%/contain no-repeat;
}
.about-section .about__approach-title {
  margin: 200px 0 0;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
.about-section .about__approach-description {
  max-width: 730px;
  margin: 50px 0 0;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
}
@media (max-width: 1200px) {
  .about-section .about__approach-description {
    max-width: 660px;
  }
}
@media (max-width: 992px) {
  .about-section .about__approach {
    background: url(../assets/webp/image\ 7.webp) 100% 100%/480px no-repeat;
  }
  .about-section .about__approach-title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .about-section .about__approach {
    padding: 100px 0 0 15px;
    background: url(../assets/webp/image\ 7.webp) 100% 100%/380px no-repeat;
  }
  .about-section .about__approach-title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
  }
  .about-section .about__approach-description {
    margin: 25px 0 0;
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #FFF;
  }
}
@media (max-width: 992px) {
  .about-section {
    padding: 125px 0 0;
  }
}
@media (max-width: 768px) {
  .about-section {
    padding: 100px 0 0;
  }
}

.experience {
  padding: 200px 0 150px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 95px;
  column-gap: 0;
}
.experience__title {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
.experience__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 20px;
  width: 100%;
  padding: 0 15px;
}

.testimonials {
  padding: 100px 0 100px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 90px;
  column-gap: 0;
}
.testimonials__title {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
@media (max-width: 576px) {
  .testimonials__title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
  }
}
.testimonials .slider {
  position: relative;
  height: 500px;
}
.testimonials .slider__left-btn {
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: 310px;
  left: -100px;
}
.testimonials .slider__left-btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.205);
}
.testimonials .slider__left-btn:hover .slider__left-btn-icon {
  fill: #000;
}
.testimonials .slider__left-btn-icon {
  fill: #FFF;
  rotate: -135deg;
  width: 36px;
  height: 23px;
}
.testimonials .slider__right-btn {
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: 310px;
  right: -100px;
}
.testimonials .slider__right-btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.205);
}
.testimonials .slider__right-btn:hover .slider__right-btn-icon {
  fill: #000;
}
.testimonials .slider__right-btn-icon {
  rotate: 45deg;
  width: 36px;
  height: 23px;
  fill: #FFF;
}
.testimonials .slider__points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  column-gap: 9px;
  position: absolute;
  z-index: 1;
  inset: -1;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.testimonials .slider__points-item {
  height: 13px;
  width: 13px;
  background-color: #FFF;
  border-radius: 50%;
}
.testimonials .slider__points-item:hover {
  cursor: pointer;
  background-color: #B4B4B4;
  scale: 0.7;
}
@media (max-width: 768px) {
  .testimonials .slider {
    height: 400px;
  }
  .testimonials .slider__left-btn {
    bottom: -25px;
    left: 80px;
  }
  .testimonials .slider__right-btn {
    bottom: -25px;
    right: 80px;
  }
}
@media (max-width: 576px) {
  .testimonials .slider {
    height: 260px;
  }
  .testimonials .slider__left-btn {
    left: -10px;
  }
  .testimonials .slider__right-btn {
    right: -10px;
  }
}
@media (max-width: 768px) {
  .testimonials {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 75px;
    column-gap: 0;
    padding: 50px 0 100px;
  }
}
@media (max-width: 576px) {
  .testimonials {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 60px;
    column-gap: 0;
  }
}

/*# sourceMappingURL=index.css.map */
