@use 'variables' as v;
@use 'sass:color';

%hover-black{
    &:hover{
        color: v.$color_black;
    }
}

%hover-white{
    &:hover{
        color: v.$color_white;
    }
}

%hover-black-icon{
    &:hover{
        fill: v.$color_black;
    }
}
%sliders-btn{
    width: 66px;
    height: 66px;
    border: none;
    rotate: -45deg;
    border-radius: 20px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
}